.chat-input {
  width: 100%;
  display: flex;
  padding: 0 43px 17px 20px;
  position: relative;

  &__smile-btn {
    margin-right: 15px;
    margin-top: 12px;
  }
  &__emoji-picker {
    position: absolute;
    bottom: 70px;
    left: 30px;
    z-index: 1;
    transition: all 1s ease-out;
  }

  svg {
    cursor: pointer;
    font-size: 20px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 57px;
    margin-left: 15px;

    &-upload-btn {
      cursor: pointer;
      button {
        cursor: pointer;
      }
      input {
        cursor: pointer;
      }
      &:hover {
        button {
          opacity: 1;
        }
      }
    }
  }
}