//@import "../../styles/variables";

.message {
  &__icon {
    > img {
      width: 15px;
      height: 15px;
      position: absolute;
      margin-left: -30px;
      filter: opacity(0.5) drop-shadow(0 0 0 #5ba0ff);
    }
  }
}