.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__top {
    text-align: center;
    h2 {
      font-size: 28px;
      line-height: 33px;
    }
    p {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.128571px;
      opacity: 0.5;
    }
  }

  &__register-link {
    text-align: center;
    display: block;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #ADADAD
  }

  .button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    width: 100%;
  }

  .block {
    margin-top: -20px;
    max-width: 430px;
    width: 430px;
    max-height: 356px;
  }
}