.home {
  height: 100%;

  .chat {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 1143px;
    height: 100%;
    margin: 0 auto; // выравнивает блок 'div' по центру
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);

    &__sidebar {
      width: 320px;
      border-right: 1px solid #cdf7ef;
      overflow: auto;

      &-header {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        & > div {
          span {
            display: inline-block;
            margin-right: 5px;
          }
        }

        span:nth-child(2) {
          svg {
            opacity: 0.5;
            &:hover {
              opacity: 1;
            }
          }
        }
      }

      &-search {
        padding: 0 20px 20px 20px;

        .ant-input {
          &-affix-wrapper {
            background: #f3f9f6;
            border-radius: 2px;
            border: 0;
            //height: 38px;
            padding: 4px 11px 6px;

            input {
              background: #f3f9f6;
            }
          }

          &-search-icon {
            &::before {
              display: none;
            }
          }
        }
      }

      &-dialogs {

        .dialogs {
          width: 100%;
          &__item {
            padding: 5px 20px;
            margin-bottom: 0;
            cursor: pointer;

            &-info {
              max-width: 225px;
            }

            .active, &:hover {
              background-color: #F3F7FF;
            }
          }
        }
      }
    }

    &__dialog {
      flex: 1;
      position: relative;

      .ant-empty {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &-header {
        display: flex;
        justify-content: space-between;
        padding: 17px;

        &-center {
          text-align: center;
        }

        &-username {
          display: block;
          font-weight: 900;
          //margin-bottom: -5px;
        }
      }

      &-messages {
        height: calc(100% - 163px);
      }

      //&::-webkit-scrollbar {
      //  display: none;
      //}
    }
  }

  .ant-btn {
    border: 0;
    box-shadow: none;
    color: #202020 !important;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    &:after {
      display: none;
    }
  }
}