.auth {

  &__success-block {
    text-align: center;
    margin-top: 40px;

    img {
      width: 50px;
      height: 50px;
    }
    p {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.1px;
      color: #202002;
      opacity: 0.5;
    }
  }
}

.login-form {
  .ant-form-item-explain {
    min-height: 0;
  }
}
