.status {
  display: inline-block;
  color: #bbbbbb;
  position: relative;
  &--online {
    &::before {
      background-color: #00C980;
    }
  }

  &--offline {
    &::before {
      background-color: #bbbbbb;
    }
  }

  &::before {
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 6px;
    position: relative;
    top: 15px;
    left: -10px;
  }
}