.avatar {
  &--symbol{
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    color: #fff;
    font-weight: 800;
    font-size: 21px;
    -webkit-text-stroke: .1px black;
  }
}