.dialogs {
  width: 260px;
  &__item {
    display: flex;
    margin-bottom: 15px;
    $item: &;

    &-avatar {
      position: relative;
      flex: 0 0 40px;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &--online {
      #{$item}-avatar {
        &::before {
          display: block;
          position: absolute;
          content: '';
          background: #00C980;
          border-radius: 30px;
          width: 18px;
          height: 14px;
          bottom: 0;
          right: 0;
          border: 3px solid #fff;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      flex: 1;
      &-top {
        max-width: 260px;
        display: flex;
        b {
          font-weight: 600;
          font-size: 14px;
          flex: 1;
          margin-bottom: 5px;
          margin-right: 5px;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 210px;
          height: 1.2em;
          white-space: nowrap;
        }
        span {
          opacity: 0.5;
        }
      }
      &-bottom {
        max-width: 260px;
        position: relative;
        p {
          opacity: 0.5;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-right: 25px;
          height: 1.2em;
          white-space: nowrap;
        }
        &-count {
          position: absolute;
          right: 0;
          bottom: 15px;
          background: #F46B6B;
          color: #fff;
          width: 18px;
          height: 18px;
          font-weight: bold;
          border-radius: 30px;
          font-size: 11px;
          text-align: center;
          line-height: 17px;
        }
        img {
          width: 15px;
          height: 15px;
        }
        .message__icon-readed {
          position: absolute;
          bottom: 14px;
          left: auto !important;
          right: 0;
        }
        .message__icon-readed--no {
          position: absolute;
          bottom: 14px;
          left: auto !important;
          right: 0;
        }
      }
    }
  }
}