@import "../../styles/variables";

.message {
  $self: &;

  display: flex;
  margin-bottom: 30px;

  &__avatar {
    display: flex;
    flex-direction: column-reverse; // переворачивает колонку, элкмент сверху оказывается внизу
    margin-bottom: 5px;

    img {
      border-radius: 50px;
      width: 33px;
      height: 33px;
      margin-right: 13px;
    }
  }

  &__bubble {
    background: $blue;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    max-width: 450px;
  }

  &__text {
    margin-bottom: -3px;
    color: #FFFFFF;
    line-height: 20px;
  }

  &__date {
    font-size: 12px;
    opacity: 0.4;
  }

  &__typing {
    $ti-color-bg: #E6E7ED;
    background-color: $ti-color-bg;
    will-change: transform;
    width: auto;
    border-radius: 7px;
    padding: 5px;
    display: table;
    margin: 0 auto;
    position: relative;
    animation: 2s bulge infinite ease-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: -2px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: $ti-color-bg;
    }

    &::after {
      height: 10px;
      width: 10px;
      left: -10px;
      bottom: -10px;
    }

    span {
      height: 8px;
      width: 8px;
      margin: 0 1px;
      background-color: #9E9EA1;
      display: inline-block;
      border-radius: 50%;
      opacity: 0.4;
      @for $i from 1 through 3 {
        &:nth-of-type(#{$i}) {
          animation: 1s blink infinite ($i * .3333s);
        }
      }
    }
  }

  @keyframes blink {
    50% {
      opacity: 1;
    }
  }

  @keyframes bulge {
    50% {
      transform: scale(1.05);
    }

  }

  &__attachments {
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;

    &-item {
      margin-left: 5px;
      cursor: pointer;

      img {
        height: 45px;
        width: 45px;
        border-radius: 7px;
      }
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column-reverse;

    > img {
      width: 15px;
      height: 15px;
      position: relative;
      bottom: 47px;
      left: -25px;
      filter: opacity(0.5) drop-shadow(0 0 0 #5ba0ff);
    }
  }

  &--isme {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__content {
      //flex-direction: row-reverse;
    }

    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
        margin-bottom: 15px;
      }
    }

    #{$self}__bubble {
      background: #fff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
      border-radius: 12px 12px 0 12px;

      #{$self}__text {
        color: $black;
        text-align: right;
      }

      #{$self}__date {
        //color: $black;
        text-align: right;
      }
    }
  }

  &--image {
    #{$self}__attachments-item {
      img {
        width: 180px;
        height: 180px;
      }
    }
  }

  &--is-audio {
    audio {
      display: none;
    }
    #{$self}__bubble {
      width: 280px;
      position: relative;
      overflow: hidden;
    }
    #{$self}__audio {
      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }
      &-btn {
        button {
          border: 0;
          width: 28px;
          height: 28px;
          border-radius: 30px;
          background: #0f3997;
          cursor: pointer;
          img {
            height: 15px;
          }
        }
      }
      &-duration {
        color: #fff;
        font-weight: 600;
        opacity: 0.6;
        font-size: 14px;
      }
      &-progress {
        left: 0;
        top: 0;
        position: absolute;
        background-color: #418FFF;
        height: 100px;
        transition: 1s;
      }
    }
  }
}

